<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="navbar">
    <h2>Smart Crowd</h2>
    <a href="/">Logout</a>
</div>

<div class="container">
    <h1>Select Mode</h1>

    <br>

    <br><br>
<a href="/capacity">
    <button>🎥 Webcam</button>
</a>

    <a href="/cctv">
        <button>📹 CCTV Camera</button>
    </a>

    <br><br>

    <a href="/dashboard">
        <button>📊 Dashboard</button>
    </a>

</div>

</body>
</html>